.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 1.5s;
  overflow: hidden;
}

.container::before {
  content: "";
  background-color: #0000009a;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container_inner {
  position: relative;
  width: 100%;
  flex-direction: row;
}

.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.5s;
}

.circle-container__circle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid white;
  border-radius: 100%;
}

.circle-button {
  box-sizing: border-box;
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: #fff;
  border: 4px solid #fff;
  color: white;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.circle-button.active {
  background-color: #e0375f;
  border: 4px solid #fff;
}

.circle-button__label {
  position: absolute;
  width: 80px;
  transition: 0.5s;
}

.circle-container.rotating .circle-button {
  transition: transform 0.5s ease;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: calc(70% - 200px);
  height: fit-content;
  padding-left: 10rem;
  pointer-events: none;
}

/** Tablet Responsive **/
@media screen and (max-width: 1080px) {
  .content {
    max-width: calc(100% - 200px);
  }
}

/** Mobile Responsive **/
@media screen and (max-width: 600px) {
  .container {
    flex-direction: row;
    align-items: start;
    background-position: center;
  }

  .container_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    max-width: 100%;
    padding: 0 1rem;
    bottom: unset;
  }
}